<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>


    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Ubuntu&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/softwares/windows_downloads.css">

    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        function logout() {
            swal("Logged out !!","You will be redirected to login page")
                .then((result) => {
                    window.location = "/"
                }).catch((err) => {
                    window.location = "/html/homepage"
                });
            
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a id="navbarbrand" class="navbar-brand px-2 p-2" href="/homepage"><strong>FILE</strong>SPARK</a>
        <div class="mx-3" id="nav-tog">
            <button class="navbar-toggler" style="width: 70px;" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="px-3 nav-item active">
                    <a class="nav-link" href="/homepage">Home<span class="sr-only"></span></a>
                </li>
                <li class="px-3 nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="windows_downloads">Windows</a>
                        <a class="dropdown-item" href="mac_downloads">Mac Os</a>
                        <a class="dropdown-item" href="linux_downloads">Linux</a>
                        <a class="dropdown-item" href="android_downloads">Android</a>
                    </div>
                </li>
                <li class="px-3 nav-item">
                    <a class="nav-link" href="../faq">FAQ</a>
                </li>
            </ul>
            <button
                    class="text-align-center justify-content-center mx-3 btn btn-outline-secondary my-2 my-sm-0"
                    style="width: 200px;" type="submit" onclick="logout()">Logout</button>
        </div>
        </div>
    </nav>

    <!-- Photoshop -->
    <div class="apps">
        <div class="row">
            <div class="app col-lg-8 col-md-6">
                <div class="app-name row">
                    <h1><%= data.result[9].software_name  %> </h1>
                    <p class="sm-text"><%= data.result[9].dialogue  %></p>
                </div>
                <br>
                <div class="app-about row">
                    <div class="app-div col-lg-3 col-md-4">
                        <p><strong><%= data.result[9].rating  %></strong></p>
                        <p class="sm-text">1<%= data.result[9].reviews%>k reviews</p>
                    </div>
                    <div class="app-div col-lg-3 col-md-4">
                        <p><strong><%= data.result[9].downloads%>k+</strong></p>
                        <p class="sm-text">Downloads</p>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <p><strong><%= data.result[9].age%>+</strong></p>
                        <p class="sm-text">Age group</p>
                    </div>
                </div>
                <div class="btn-download row">
                    <div class="col-lg-4">
                        <a href="windows_downloads/download"><button type="button"
                            class="btn btn-primary">Download</button></a>
                    </div>
                </div>
            </div>
            <div class="imgs-disp col-lg-4 col-md-6">
                <img class="Download-image" src="../../images/Photoshop.png" alt="insta">
            </div>
        </div>
        <br>
        <div class="img-disp about row">
            <div class="what-new col-lg-8 col-md-7">
                <ul style="list-style: none;">
                    <li><strong>What's new?</strong></li>
                    <li class="sm-text">Removing people or objects within an image</li>
                    <li class="sm-text">Blending modes</li>
                    <li class="sm-text">All selection tools enabled.</li>
                    <li class="sm-text">File size removed</li>
                </ul>
            </div>
            <div class="version col-lg-4 col-md-5">
                <ul style="list-style: none;">
                    <li><strong>Version history</strong></li>
                    <li class="sm-text"><%= data.result[9].date %> </li>
                    <li class="sm-text">v.<%= data.result[9].version%></li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Kasperkey -->
    <hr>
    <div class="apps">
        <div class="row">
            <div class="app col-lg-8 col-md-6">
                <div class="app-name row">
                    <h1><%= data.result[5].software_name %></h1>
                    <p class="sm-text"><%= data.result[5].dialogue %></p>
                </div>
                <br>
                <div class="app-about row">
                    <div class="app-div col-lg-3">
                        <p><strong><%= data.result[5].rating %></strong></p>
                        <p class="sm-text"><%= data.result[5].reviews %>k reviews</p>
                    </div>
                    <div class="app-div col-lg-3">
                        <p><strong><%= data.result[5].downloads %>K+</strong></p>
                        <p class="sm-text">Downloads</p>
                    </div>
                    <div class="col-lg-3">
                        <p><strong><%= data.result[5].age %>+</strong></p>
                        <p class="sm-text">Age group</p>
                    </div>
                </div>
                <div class="btn-download row">
                    <div class="col-lg-4">
                        <a href="windows_downloads/download"><button type="button"
                            class="btn btn-primary">Download</button></a>
                    </div>
                </div>
            </div>
            <div class="imgs-disp col-lg-4">
                <img class="Download-image" src="../../images/kaspersky.png" alt="insta">
            </div>
        </div>
        <br>
        <div class="img-disp about row">
            <div class="what-new col-lg-8">
                <ul style="list-style: none;">
                    <li><strong>What's new?</strong></li>
                    <li class="sm-text">Protects online transactions.</li>
                    <li class="sm-text"> Prevents data collection on websites.</li>
                    <li class="sm-text"> Blocks ads.</li>
                    <li class="sm-text">All the features for free</li>
                </ul>
            </div>
            <div class="version col-lg-4">
                <ul style="list-style: none;">
                    <li><strong>Version history</strong></li>
                    <li class="sm-text"><%= data.result[5].date %></li>
                    <li class="sm-text">v.<%= data.result[5].version %></li>
                </ul>
            </div>

        </div>

    </div>
    <hr>
    <!-- MX Player -->

    <div class="apps">
        <div class="row">
            <div class="app col-lg-8 col-md-6">
                <div class="app-name row">
                    <h1><%= data.result[6].software_name %></h1>
                    <p class="sm-text"><%= data.result[6].dialogue %></p>
                </div>
                <br>
                <div class="app-about row">
                    <div class="app-div col-lg-3">
                        <p><strong><%= data.result[6].rating %></strong></p>
                        <p class="sm-text"><%= data.result[6].reviews %>K reviews</p>
                    </div>
                    <div class="app-div col-lg-3">
                        <p><strong><%= data.result[6].downloads %>k+</strong></p>
                        <p class="sm-text">Downloads</p>
                    </div>
                    <div class="col-lg-3">
                        <p><strong><%= data.result[6].age %>+</strong></p>
                        <p class="sm-text">Age group</p>
                    </div>
                </div>
                <div class="btn-download row">
                    <div class="col-lg-4">
                        <a href="windows_downloads/download"><button type="button"
                            class="btn btn-primary">Download</button></a>
                    </div>
                </div>
            </div>
            <div class="imgs-disp col-lg-4">
                <img class="Download-image" src="../../images/maxplayer.png" alt="insta">
            </div>
        </div>
        <br>
        <div class="img-disp about row">
            <div class="what-new col-lg-8 ">
                <ul style="list-style: none;">
                    <li><strong>What's new?</strong></li>
                    <li class="sm-text">Stream 4k videos for free</li>
                    <li class="sm-text">No ads</li>
                    <li class="sm-text">Background play enabled</li>
                </ul>
            </div>
            <div class="version col-lg-4">
                <ul style="list-style: none;">
                    <li><strong>Version history</strong></li>
                    <li class="sm-text"><%= data.result[6].date %></li>
                    <li class="sm-text">v.<%= data.result[6].version %></li>
                </ul>
            </div>

        </div>
    </div>
    <hr>
    <div class="apps">
        <div class="row">
            <div class="app col-lg-8 col-md-6">
                <div class="app-name row">
                    <h1><%= data.result[12].software_name %></h1>
                    <p class="sm-text"><%= data.result[12].dialogue %></p>
                </div>
                <br>
                <div class="app-about row">
                    <div class="app-div col-lg-3">
                        <p><strong><%= data.result[12].rating %></strong></p>
                        <p class="sm-text"><%= data.result[12].reviews %>k reviews</p>
                    </div>
                    <div class="app-div col-lg-3">
                        <p><strong><%= data.result[12].downloads %>k+</strong></p>
                        <p class="sm-text">Downloads</p>
                    </div>
                    <div class="col-lg-3">
                        <p><strong><%= data.result[12].age %>+</strong></p>
                        <p class="sm-text">Age group</p>
                    </div>
                </div>
                <div class="btn-download row">
                    <div class="col-lg-4">
                        <a href="windows_downloads/download"><button type="button"
                                class="btn btn-primary">Download</button></a>
                    </div>
                </div>
            </div>
            <div class="imgs-disp col-lg-4">
                <img class="Download-image" src="../../images/Thunderbird.png" alt="insta">
            </div>
        </div>
        <br>
        <div class="img-disp about row">
            <div class="what-new col-lg-8">
                <ul style="list-style: none;">
                    <li><strong>What's new?</strong></li>
                    <li class="sm-text">Virus detection enabled.</li>
                    <li class="sm-text">Custom emails available.</li>
                    <li class="sm-text">Auto filter spam mails.</li>
                </ul>
            </div>
            <div class="version col-lg-4">
                <ul style="list-style: none;">
                    <li><strong>Version history</strong></li>
                    <li class="sm-text"><%= data.result[12].date %></li>
                    <li class="sm-text">v.<%= data.result[12].version %></li>
                </ul>
            </div>

        </div>

    </div>
    <hr>
    <div class="apps">
        <div class="row">
            <div class="app col-lg-8 col-md-6">
                <div class="app-name row">
                    <h1><%= data.result[13].software_name %></h1>
                    <p class="sm-text"><%= data.result[13].dialogue %></p>
                </div>
                <br>
                <div class="app-about row">
                    <div class="app-div col-lg-3">
                        <p><strong><%= data.result[13].rating %></strong></p>
                        <p class="sm-text"><%= data.result[13].reviews %>k reviews</p>
                    </div>
                    <div class="col-lg-3 app-div">
                        <p><strong><%= data.result[13].downloads %>k+</strong></p>
                        <p class="sm-text">Downloads</p>
                    </div>
                    <div class="col-lg-3">
                        <p><strong><%= data.result[13].age %>+</strong></p>
                        <p class="sm-text">Age group</p>
                    </div>
                </div>
                <div class="btn-download row">
                    <div class="col-lg-4">
                        <a href="windows_downloads/download"><button type="button"
                            class="btn btn-primary">Download</button></a>
                    </div>
                </div>
            </div>
            <div class="imgs-disp col-lg-4">
                <img class="Download-image" src="../../images/WhatsApp.png" alt="insta">
            </div>
        </div>
        <br>
        <div class="img-disp about row">
            <div class="what-new col-lg-8">
                <ul style="list-style: none;">
                    <li><strong>What's new?</strong></li>
                    <li class="sm-text">View deleted messages</li>
                    <li class="sm-text">Delete for everyone option enabled for 1 day</li>
                    <li class="sm-text">Read receipts of other users is visible.</li>
                </ul>
            </div>
            <div class="version col-lg-4">
                <ul style="list-style: none;">
                    <li><strong>Version history</strong></li>
                    <li class="sm-text"><%= data.result[13].date %></li>
                    <li class="sm-text">v.<%= data.result[13].version %></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="bottom_container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h4>FILESPARK</h4>
                <p class="footer_items">Designed and built by FS team<br>
                    ©OffSec Services Limited 2022. All rights reserved.<br>
                    Currently v5.2.2.</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5>Link</h5>

                <ul style="list-style: none; padding: 0%;" class="footer_items">
                    <li><a href="/homepage" style="text-decoration:none;color: black;"> Home </a></li>
                    <li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Download
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="windows_downloads">Windows</a>
                                <a class="dropdown-item" href="mac_downloads">Mac Os</a>
                                <a class="dropdown-item" href="linux_downloads">Linux</a>
                                <a class="dropdown-item" href="android_downloads">Android</a>
                            </div>
                        </li>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6">
                <h5>Community</h5>
                <ul style="list-style: none;  padding: 0% 0% 0% 0%;" class="footer_items">
                    <li><a href="https://social.technet.microsoft.com/Forums/windows/en-US/e451d576-c7de-4f94-9c84-275ad828c5b9/setupexe-will-not-run?forum=w7itproinstall" style="text-decoration:none; color:#0F044C">
                        Issues</a></li>
                    <li><a href="/faq" style="text-decoration:none; color: #0F044C">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>


</body>

</html>